.tmp.drivedownload/
.tmp.driveupload/
.testing
.vs
Portfolio_v02.code-workspace
/projects/NEWPROJECTTEMPLATE
old_*
img/random_for_lab/lighting study/
img/random_for_lab/GROBE_Jona_Music_UE5_TentacleMusicVisualizer_Final_Effect.mov
img/random_for_lab/GROBE_Jona_Melvin_UnrealEngine_MaterialEffect.mp4